span {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300px;
    color:#990000
}

body {
    width: 250px;
    height: 300px;
}

h1 {
    color: #990000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}


h2 {
    color: white;
    background-color: #990000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

.p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}